body {
  background-color: black;
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
canvas {
  touch-action: none;
  opacity: 1;
}
video {
  width: 100%;
  height: auto;
  max-width: 720px;
  outline: none;
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
.container .active,
.container button:active,
.container button:focus {
  background-color: #03a9f4;
}

.container button:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.container button {
  border: 0;
  cursor: pointer;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 3px;
  line-height: 0;
  transform: scale(0.8);
}

.container input[type="color"] {
  transform: translate(40px, -2px);
  cursor: pointer;
  border-radius: 3px;
  border: 0;
  line-height: 0;
  background-color: transparent;
  padding: 0;
}

.container input[type="number"] {
  transform: translate(20px, -7px);
  cursor: pointer;
  z-index: -1;
  border: 0;
  border-radius: 3px;
  line-height: 0;
  padding: 0;
  padding-left: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
}

.extra-buttons-container {
  color:rgba(255, 255, 255, 0.6);
  display: flex;
  max-width: 720px;
  margin: 20 auto;
  align-items: stretch; /* Default */
  justify-content: space-between;
}
.extra-buttons-container div {
  display: block;
  flex: 0 1 auto; /* Default */
}

@media screen and (min-width: 1280px) {
  .container {
    margin-top: 20px;
  }
}